@import '_base.sass'

.data_table, .data_table td
  border: 1px solid black
  border-spacing: 0

.data_table
  margin: 0 auto
  td
    padding: 15px
    border-spacing: 0
  .totalCurrency span
    font-weight: 600
