<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <title>test_task_json_vue</title>
    <link href="sass/main.sass"></link>
    <link href="dist/static/css/app.da5ff62f6a8067010e818f38eabe0784.css" rel="stylesheet">
  </head>
  <body>

    <div id="app">

      <h1>Test task table</h1>

      <table class="data_table">
        <tr>
          <td colspan="4" class="totalCurrency">Total currency: <span>{{totalCurrency}}</span></td>
        </tr>
        <tr>
          <td v-for="key in keysArray">
            <h3>search for <span v-bind:class="key+'Span'">"{{key}}"</span></h3>
            <input v-on:input="filter" type="text" v-bind:id="key" v-model="user_message[key]">
          </td>
        </tr>
        <tr v-for="user in filteredArray">
          <td>{{user.id}}</td>
          <td>{{user.name}}</td>
          <td>{{user.location}}</td>
          <td class="dataCurrency">{{user.currency}}</td>
        </tr>
      </table>

    </div>

    <script type="text/javascript" src="dist/static/js/manifest.2ae2e69a05c33dfc65f8.js"></script>
    <script type="text/javascript" src="dist/static/js/vendor.4c460e3c35ef593e4cc8.js"></script>
    <script type="text/javascript" src="dist/static/js/app.0433962cb46cd0527076.js"></script>

  </body>
</html>
